---
import { SITE, SNS } from "../../config";
import logoPrimary from "@assets/img/logoprimary.png";
import logoSecondary from "@assets/img/logoSecondary.png";
---

<div class="footer__bg">
  <footer class="footer">
  </footer>
</div>
<style>

</style>
